body {
  margin: 0;
  padding: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.body {
  background-image: url('images/map-image.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 73vh;
}

.navbar {
  width: 376px;
  height: 98px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #8F00FF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
}

.nav-icon span {
  width: 18px;
  border: 1px solid #FFFFFF;
  transition: transform 0.3s ease;
}

.logo {
  width: 50px;
  /* height: 50px; */
}

.profile-pic-div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bottom-div {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}